In [1]:
from LHorizons import LHorizons

In [25]:
solar_system_barycenter = 'SSB'
observer_body_id = solar_system_barycenter
galex_horizons_id = -127783
target_body_id = galex_horizons_id
# note that these times are in TDB
start = '2003-05-01T00:00:00'
stop = '2003-05-15T01:00:00'
step = "5m"

In [26]:
# make an LHorizons object with these values.
# if you'd like to do larger queries -- ones with more than about 70K rows -- take a look at
# the bulk query functions in this library.
galex_icrf = LHorizons(
    -127783,
    '500@0',
    epochs = {
        'start': start,
        'stop': stop,
        'step': step
    },
    query_type='VECTORS'
)
# fetch these data and concatenate them into a pandas dataframe.
vector_table = galex_icrf.table()

# these are ICRF of the most conventional kind -- measured from the solar system barycenter,
# geometric sta

      X      X-component of position vector (km)
      Y      Y-component of position vector (km)
      Z      Z-component of position vector (km)
      LT     One-way down-leg Newtonian light-time (sec)
      RG     Range; distance from coordinate center (km)
      RR     Range-rate; radial velocity wrt coord. center (km/sec)

,Date (TDB),X,Y,Z,VX,VY,VZ,LT,RG,RR
2.452760e+06,A.D. 2003-May-01 00:00:00.0000,-1.148194e+08,-9.788200e+07,-7088.258533,12.110944,-25.793486,1.900165,503.277211,1.508787e+08,7.516851
2.452761e+06,A.D. 2003-May-01 00:05:00.0000,-1.148156e+08,-9.788990e+07,-6264.025899,13.468695,-26.839129,3.548428,503.284614,1.508809e+08,7.163536
2.452761e+06,A.D. 2003-May-01 00:10:00.0000,-1.148113e+08,-9.789806e+07,-4994.838027,15.358138,-27.487352,4.841419,503.291326,1.508829e+08,6.148121
2.452761e+06,A.D. 2003-May-01 00:15:00.0000,-1.148064e+08,-9.790635e+07,-3407.899613,17.591107,-27.672414,5.648665,503.296731,1.508846e+08,4.571142
2.452761e+06,A.D. 2003-May-01 00:20:00.0000,-1.148007e+08,-9.791461e+07,-1662.634998,19.944008,-27.374619,5.887746,503.300340,1.508856e+08,2.589901
...,...,...,...,...,...,...,...,...,...,...
2.452775e+06,A.D. 2003-May-15 00:40:00.0000,-8.904503e+07,-1.225762e+08,-7095.596673,18.751398,-12.050661,-1.201934,505.368290,1.515056e+08,-1.271146
2.452775e+06,A.D. 2003-May-15 00:45:00.0000,-8.903961e+07,-1.225800e+08,-7211.287161,17.514625,-13.250961,0.437156,505.367860,1.515055e+08,0.427736
2.452775e+06,A.D. 2003-May-15 00:50:00.0000,-8.903446e+07,-1.225842e+08,-6837.706304,16.883182,-14.898738,2.032300,505.369148,1.515059e+08,2.132929
2.452775e+06,A.D. 2003-May-15 00:55:00.0000,-8.902941e+07,-1.225890e+08,-6012.388970,16.920895,-16.828862,3.423214,505.372074,1.515067e+08,3.673467
2.452775e+06,A.D. 2003-May-15 01:00:00.0000,-8.902424e+07,-1.225943e+08,-4818.313418,17.624568,-18.847435,4.469810,505.376393,1.515080e+08,4.894480

In [ ]:
# fetch the data and concatenate it into a pandas dataframe
pointing_table = fetch_bulk_generic(bulk_query)

In [ ]:
# horizons bulk queries don't do well with the 'only when object is visible' flags,
# so we handle it here
daylight_only = pointing_table.loc[pointing_table['alt'] > 0]
# reduce to the quantities of interest
solar_angle_table = daylight_only[['time', 'az', 'alt']]

In [ ]:
# write out to csv
solar_angle_table.to_csv(
    "solar_angle_table " + start + " to " + stop + ".csv",
    index=None
)